.App {
  text-align: center;
  height: 100%;
}

.badge-summary{
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.body-app{
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#confirmation{
  width: "44%" !important;
  margin-top: "19%" !important;
}

.badged-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding:3em;
}